.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 2em;
    padding-bottom: 5em;
    border: 3px solid darkgreen;
    margin-bottom: 2em;
    background-color: darkgreen;
}

.title-header{
    color: white;
    font-size: 35px;
    align-items: center;
}

.adicionar-tarefa{
    text-decoration: none;
    color: #ccffcc;
    font-weight: bold;
    margin-top: 15px;
    padding: 10px 20px;
    border: 1px solid #ccffcc;
    border-radius: 5px;
    transition: 0.3s;
}

.adicionar-tarefa:hover{
    background-color: white;
    color: darkgreen;
}

.container-tarefa{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
}

.card-tarefa{
    border: 1px solid #ccc;
    padding: 15px;
    background-color: #f9f9f9;
    word-wrap: break-word;
}

.title-tarefa{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
}

.status-prioridade-tarefa{
    border: solid 2px rgb(8, 8, 61);
    border-radius: 10px;    
    background-color: rgb(8, 8, 61);
    color: rgb(230, 218, 218);
}

.status-prioridade{
    margin-left: 40px;
}